@model Theater.ViewModels.UserLogin
@{
    ViewData["Title"] = "Create Account";
}
@if (ViewData["accountCreationFailed"] != null)
{
    <div class="alert alert-danger" role="alert">
        Requested account details were not valid.
    </div>
}

<form asp-action="CreateAccount" asp-controller="User">
    <div class="col-md-6 login-form">
        <h3>Create Account</h3>
        <div class="form-group">
            <input class="form-control" asp-for="Email" placeholder="New Account Email *" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="Password" placeholder="New Account Password *" />
            <span asp-validation-for="Password"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btnSubmit" value="Submit" />
        </div>
    </div>
</form>
